html, body {
    height: 100%;
    margin: 0;
}
body {
    display: flex;
    flex-direction: column;
}
#app {
    flex-shrink: 0;
}
.content {
    margin-top: 3rem;
    margin-bottom: 3rem;
}
footer {
    margin-top: auto;
}

.navbar-nav li a:hover {
    transition-duration: .3s;
    background-color: #5062c3;
    transition: all .3s
}

.navbar-brand {
    font-size: 25px;
}

.dropdown-header {
    color: #0a0c0d;
}

.home-background {
    height: 500px;
}

.btn-discord {
    color: #fff;
    background-color: #7289DA;
    border-color: #7289DA;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.btn-discord:hover {
    color: #fff;
    background-color: #7289DA;
    border-color: #7289DA;
}

.btn-discord:focus, .btn-discord.focus {
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08), 0 0 0 0 rgba(34, 34, 34, 0.5);
}

.btn-discord.disabled, .btn-discord:disabled {
    color: #fff;
    background-color: #7289DA;
    border-color: #7289DA;
}

.btn-discord:not(:disabled):not(.disabled):active, .btn-discord:not(:disabled):not(.disabled).active, .show > .btn-discord.dropdown-toggle {
    color: #fff;
    background-color: #4f609a;
    border-color: #7289DA;
}

.btn-discord:not(:disabled):not(.disabled):active:focus, .btn-discord:not(:disabled):not(.disabled).active:focus, .show > .btn-discord.dropdown-toggle:focus {
    box-shadow: none, 0 0 0 0 rgba(34, 34, 34, 0.5);
}

.btn-teamspeak {
    color: #fff;
    background-color: #1c2537;
    border-color: #1c2537;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.btn-teamspeak:hover {
    color: #fff;
    background-color: #1c2537;
    border-color: #1c2537;
}

.btn-teamspeak:focus, .btn-teamspeak.focus {
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08), 0 0 0 0 rgba(34, 34, 34, 0.5);
}

.btn-teamspeak.disabled, .btn-teamspeak:disabled {
    color: #fff;
    background-color: #1c2537;
    border-color: #1c2537;
}

.btn-teamspeak:not(:disabled):not(.disabled):active, .btn-teamspeak:not(:disabled):not(.disabled).active, .show > .btn-teamspeak.dropdown-toggle {
    color: #fff;
    background-color: #090909;
    border-color: #1c2537;
}

.btn-teamspeak:not(:disabled):not(.disabled):active:focus, .btn-teamspeak:not(:disabled):not(.disabled).active:focus, .show > .btn-teamspeak.dropdown-toggle:focus {
    box-shadow: none, 0 0 0 0 rgba(34, 34, 34, 0.5);
}
