html, body {
    height: 100%;
    margin: 0;
}
body {
    display: flex;
    flex-direction: column;
}
#app {
    flex-shrink: 0;
}
.content {
    margin-top: 3rem;
    margin-bottom: 3rem;
}
footer {
    margin-top: auto;
}

.navbar-nav li a:hover {
    transition-duration: .3s;
    background-color: #5062c3;
    transition: all .3s
}

.navbar-brand {
    font-size: 25px;
}

.dropdown-header {
    color: #0a0c0d;
}

.home-background {
    height: 500px;
}
